<div class="row no-margin justify-content-md-center">
  <div class="col-12 result-container">

    <div class="card">
      <div class="main-card-header">
        <span>Dashboard</span>
        <i class="fa fa-arrow-circle-right" style="padding: 0 10px;"></i>
        <!-- <span>{{breadCrumb}}</span> -->
        <span>Register New State Division</span>

      </div>
      <div class="padd-30">
        <div class="wrapper">
          <div class="main-panel">
            <div class="main-content">
              <div class="container-fluid">

                <div class="login-reg-panel back2">
                  <form [formGroup]="divisionregisterForm" (ngSubmit)="onSubmit()">
                    <div class="white-panel">
                      <div class="login-pannel">
                        <div class="row no-margin">
                          <div class="col-4">
                            <div class="login-show row">

                              <div class="login-sec col-12"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                <select formControlName="statename" class="form-control"
                                  (change)="changeState($event.target.value)"
                                  [ngClass]="{ 'is-invalid': submitted && f.statename.errors }"
                                  style="background-color: #eae6e6; font-size: 14px; border: 1px solid #bdb9b9; color: #3a3737;">
                                  <option *ngFor="let state of stateList" value="{{state.statename}}">
                                    {{state.statename}}</option>
                                </select>
                              </div>
                              <div class="login-sec col-12"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                <input type="text" formControlName="divisionname" class="form-control"
                                  placeholder="Enter Your Division Name"
                                  [ngClass]="{ 'is-invalid': submitted && f.divisionname.errors }" />
                                <div *ngIf="submitted && f.divisionname.errors" class="invalid-feedback">
                                  <div *ngIf="f.divisionname.errors.required">Please Enter Division Name</div>
                                </div>
                              </div>
                              <div class="login-sec col-12"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                <input type="text" formControlName="divisionnameHindi" class="form-control"
                                  placeholder="Enter Division name in Hindi"
                                  [ngClass]="{ 'is-invalid': submitted && f.divisionnameHindi.errors }" />
                                <div *ngIf="submitted && f.divisionnameHindi.errors" class="invalid-feedback">
                                  <div *ngIf="f.divisionnameHindi.errors.required">Please Enter Division Name in Hindi
                                  </div>
                                </div>
                              </div>
                              <div class="login-sec col-12"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                <input type="text" formControlName="divisionnameMarathi" class="form-control"
                                  placeholder="Enter Division name in Marathi"
                                  [ngClass]="{ 'is-invalid': submitted && f.divisionnameMarathi.errors }" />
                                <div *ngIf="submitted && f.divisionnameMarathi.errors" class="invalid-feedback">
                                  <div *ngIf="f.divisionnameMarathi.errors.required">Please Enter Division Name in
                                    Marathi</div>
                                </div>
                              </div>

                              <div class="signin-sec col-12 margin-top">
                                <input type="submit" [disabled]="loading" class="form-control connect-btn"
                                  name="Register" value="Register">
                                <input type="button" [disabled]="loading" class="form-control back-btn" name="Cancel"
                                  routerLink="/dashboard" value="Cancel">
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>
</div>