<!-- <form [formGroup]="stateregisterForm" (ngSubmit)="onSubmit()">
  <div class="row no-margin" style="padding-bottom: 40px;">
    <div class="col-12">
      <label class="lbl-txt">Please register your State</label>
    </div>
    <div class="col-12 atikr-compl-box">
      <div class="card">
        <div class="card-body" style="padding: 10px 10px 0px 10px;">
          <div class="form-group">
            <label for="statename">Enter State Name</label>
            
            <input type="text" formControlName="statename" class="form-control" placeholder="Enter State name"
            [ngClass]="{ 'is-invalid': submitted && f.statename.errors }" />
          <div *ngIf="submitted && f.statename.errors" class="invalid-feedback">
            <div *ngIf="f.statename.errors.required">तुमचे नाव टाका </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 atikr-compl-box">
      <div class="card">
        <div class="card-body" style="padding: 10px 10px 0px 10px;">
          <div class="form-group">
            <label for="statenameHindi">Enter State Name in Hindi</label>
            <input type="text" formControlName="statenameHindi" class="form-control" placeholder="Enter State name in Hindi"
            [ngClass]="{ 'is-invalid': submitted && f.statenameHindi.errors }" />
          <div *ngIf="submitted && f.statenameHindi.errors" class="invalid-feedback">
            <div *ngIf="f.statenameHindi.errors.required">तुमचे नाव टाका </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 atikr-compl-box">
      <div class="card">
        <div class="card-body" style="padding: 10px 10px 0px 10px;">
          <div class="form-group">
            <label for="statenameMarathi">Enter State Name in Marathi</label>
            <input type="text" formControlName="statenameMarathi" class="form-control" placeholder="Enter State name in Marathi"
            [ngClass]="{ 'is-invalid': submitted && f.statenameMarathi.errors }" />
          <div *ngIf="submitted && f.statenameMarathi.errors" class="invalid-feedback">
            <div *ngIf="f.statenameMarathi.errors.required">तुमचे नाव टाका </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-margin go-next">
    <div class="col-12">
      <input type="submit" [disabled]="loading" class="form-control connect-btn" name="Connect" value="Connect">
      <span>Submit</span>
    </div>
  </div>
  <ul>
    <li *ngFor="let state of stateList">{{state.statename}}</li>
  </ul>
</form> -->

<div class="wrapper">
  <div class="sidebar">
  </div>
  <div class="main-panel">
    <div class="main-content">
      <div class="container-fluid">

        <div class="login-reg-panel back2">
          <div class="white-panel">
            <div class="login-pannel">

              <div class="login-show">
                  <ion-list>
                      <ion-item >
                        <ion-label>Pokémon Yellow</ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-label>Mega Man X</ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-label>The Legend of Zelda</ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-label>Pac-Man</ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-label>Super Mario World</ion-label>
                      </ion-item>
                    </ion-list>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>