<div class="alert alert-warning" role="alert">
		Total Weightage of project Baseline configuration should be <b>100%</b>
	  </div>
<table border="1" cellpadding="0" cellspacing="0" align="center" width="900px" height="200px">
		

		

		<input type="hidden" name="pkv" value="40">


		<tbody><tr>


			<td align="left" valign="bottom" height="40px" width="44px" bgcolor="#D9D9D9"><div class="verticalText">
					<font size="1px" weight="bold">Expert</font>
				</div></td>

			<td align="right" valign="bottom" rowspan="5" width="10px" bgcolor="#974706"><div class="textNinety">
					<font color="#FFFFFF" size="2px;">Technical
						Expertise---------&gt;</font>
				</div></td>



			<td width="40px" align="center" height="60px"><input type="text" id="expert1" name="expert1" style="width: 50px; height: 24px" value="0"></td>


			<td width="40px" align="center" height="60px"><input type="text" id="expert2" name="expert2" style="width: 44px; height: 24px" value="0"></td>

			<td width="40px" align="center" height="60px"><input type="text" id="expert3" name="expert3" style="width: 44px; height: 24px" value="0"></td>

			<td width="40px" align="center" height="60px"><input type="text" id="expert4" name="expert4" style="width: 44px; height: 24px" value="0"></td>

			<td width="40px" align="center" height="60px"><input type="text" id="expert5" name="expert5" style="width: 44px; height: 24px" value="0"></td>


		</tr>
		<tr>


			<td align="left" valign="bottom" height="40px" width="40px" bgcolor="#CCC0DA"><div class="verticalText">
					<font size="1px" weight="bold">Valuable<br>
						Contributor
					</font>
				</div></td>



			<td width="40px" align="center" height="60px"><input type="text" id="vc1" name="vc1" style="width: 44px; height: 24px" value="0"></td>


			<td width="40px" align="center" height="60px"><input type="text" id="vc2" name="vc2" style="width: 44px; height: 24px" value="0"></td>

			<td width="40px" align="center" height="60px"><input type="text" id="vc3" name="vc3" style="width: 44px; height: 24px" value="0"></td>

			<td width="40px" align="center" height="60px"><input type="text" id="vc4" name="vc4" style="width: 44px; height: 24px" value="20"></td>

			<td width="40px" align="center" height="60px"><input type="text" id="vc5" name="vc5" style="width: 44px; height: 24px" value="0"></td>


		</tr>
		<tr>


			<td align="left" valign="bottom" height="40px" width="40px" bgcolor="#FABF8F"><div class="verticalText">
					<font size="1px" weight="bold">Independent<br>
						Worker
					</font>
				</div></td>



			<td width="40px" align="center" height="60px"><input type="text" id="iw1" name="iw1" style="width: 44px; height: 24px" value="0"></td>


			<td width="40px" align="center" height="60px"><input type="text" id="iw2" name="iw2" style="width: 44px; height: 24px" value="0"></td>

			<td width="40px" align="center" height="60px"><input type="text" id="iw3" name="iw3" style="width: 44px; height: 24px" value="20"></td>

			<td width="40px" align="center" height="60px"><input type="text" id="iw4" name="iw4" style="width: 44px; height: 24px" value="20"></td>

			<td width="40px" align="center" height="60px"><input type="text" id="iw5" name="iw5" style="width: 44px; height: 24px" value="0"></td>


		</tr>
		<tr>


			<td align="left" valign="bottom" height="40px" width="40px" bgcolor="#92D050"><div class="verticalText">
					<font size="1px" weight="bold">Handhold</font>
				</div></td>



			<td width="40px" align="center" height="60px"><input type="text" id="hh1" name="hh1" style="width: 44px; height: 24px" value="0"></td>


			<td width="40px" align="center" height="60px"><input type="text" id="hh2" name="hh2" style="width: 44px; height: 24px" value="20"></td>

			<td width="40px" align="center" height="60px"><input type="text" id="hh3" name="hh3" style="width: 44px; height: 24px" value="20"></td>

			<td width="40px" align="center" height="60px"><input type="text" id="hh4" name="hh4" style="width: 44px; height: 24px" value="0"></td>

			<td width="40px" align="center" height="60px"><input type="text" id="hh5" name="hh5" style="width: 44px; height: 24px" value="0"></td>


		</tr>
		<tr>


			<td align="left" valign="bottom" height="40px" width="40px" bgcolor="#FFC000"><div class="verticalText">
					<font size="1px" weight="bold">Under<br> Watch
					</font>
				</div></td>



			<td width="40px" align="center" height="60px"><input type="text" id="uw1" name="uw1" style="width: 44px; height: 24px" value="0"></td>


			<td width="40px" align="center" height="60px"><input type="text" id="uw2" name="uw2" style="width: 44px; height: 24px" value="0"></td>

			<td width="40px" align="center" height="60px"><input type="text" id="uw3" name="uw3" style="width: 44px; height: 24px" value="0"></td>

			<td width="40px" align="center" height="60px"><input type="text" id="uw4" name="uw4" style="width: 44px; height: 24px" value="0"></td>

			<td width="40px" align="center" height="60px"><input type="text" id="uw5" name="uw5" style="width: 44px; height: 24px" value="0"></td>


			<!-- 	<td width="40px" align="center" height="60px"><input
type="text" name="uwghghghgh" style="width: 44px;height: 24px" value= '40' /></td>-->




		</tr>


		<tr>
			<td bordercolor="#FFFFFF" rowspan="2" colspan="2"><font size="5px"><b>&nbsp;</b></font></td>
			<td colspan="5" width="60px" height="35px" bgcolor="#002060" valign="middle" style="padding-left: 30px;"><font color="#FFFFFF" size="2px"> Solution
					Expertise---------&gt;</font></td>
		</tr>
		<tr>

			<td bgcolor="#FFC000" height="60px" width="60px" valign="bottom"><div class="verticalText">
					<font size="1px">Under<br>Watch
					</font>
				</div></td>
			<td bgcolor="#92D050" height="60px" width="60px" valign="bottom"><div class="verticalText">
					<font size="1px">Handhold</font>
				</div></td>
			<td bgcolor="#FABF8F" height="60px" width="60px" valign="bottom"><div class="verticalText">
					<font size="1px">Independent<br>Worker
					</font>
				</div></td>
			<td bgcolor="#CCC0DA" height="60px" width="60px" valign="bottom"><div class="verticalText">
					<font size="1px">Valuable<br>Contributor
					</font>
				</div></td>
			<td bgcolor="#D9D9D9" height="60px" width="60px" valign="bottom"><div class="verticalText">
					<font size="1px">Expert</font>
				</div></td>
		</tr>



		

	</tbody></table>