<!-- <div class="row no-margin justify-content-md-center" style="position: relative;">
  
  <div class="col-12 ">
    <div class="form-group row" *ngIf="listData" style="margin: 0px; margin-bottom:10px; ">
      <div class=" col-2 no-padding">
        <span style="vertical-align: middle;">Total Record: - {{listData.length}}</span>
      </div>

      <div class="col-4">
        <div class="input-group no-padding">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Search by text</span>
          </div>
          <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search by text"
            aria-describedby="basic-addon1" />
        </div>
      </div>




    </div>

    <div class="card" style="overflow: auto;">
      <div class="row no-margin tableGridHeader">
        <div class="col-121 zen-row-header ">
          <div class="zen-cell" *ngFor="let data of columnDefs;let i = index;" [ngStyle]="{'width':data.width+'px'}"
            style="left: 0;">{{data.headerName}}</div>
        </div>
      </div>
      <app-loading-spinner [loadingType]="'bar'" *ngIf="!listData">
      </app-loading-spinner>

      <ng-container *ngIf="listData">
        <div class="tableGridBody">

          <div class="row no-margin" *ngFor="let data of listData | searchFilter :  columnDefs:searchText;let i=index">
            <div *ngIf="!data" class="noMatchFound">"No record matches"</div>
            <div class="col-12 zen-row firstLevel" *ngIf="data">
              <div class="zen-cell" *ngFor="let col of columnDefs; let colIndex = index;first as isFirst"
                [ngStyle]="{'width':col.width+'px'}" style="left: 0;" [class.first]="isFirst">
                <i class="more-less glyphicon glyphicon-plus fa" *ngIf="colIndex == 0"
                  [ngClass]="{'fa-plus': data.children, 'fa-minus': data.active }" (click)="showMinorData(i)"></i>
                <span data-toggle="tooltip" title={{data[col.field]}}>{{ data[col.field]}}</span>
              </div>

            </div>
            <ng-container *ngIf="data.active">
              <div class="row no-margin" *ngFor="let subData of data.children ;let j=index"
                style="background: rgba(50, 185, 226, 0.3215686274509804)">
                <div class="col-12 zen-row ">
                  <div class="zen-cell secondLevel"
                    *ngFor="let col of columnDefs; let colIndex2 = index;first as isFirst"
                    [ngStyle]="{'width':col.width+'px'}" style="left: 0;" [class.first]="isFirst">
                    <i class="more-less glyphicon glyphicon-plus fa" *ngIf="colIndex2 == 0"
                      [ngClass]="{'fa-plus': subData.children, 'fa-minus': subData.active }"
                      (click)="showSubMinorData(i,j)"></i>
                    <span data-toggle="tooltip" title={{subData[[col.field]]}}>{{subData[[col.field]]}}</span>
                  </div>
                </div>

                <ng-container *ngIf="subData.active">
                  <div class="row no-margin" *ngFor="let record of subData.children"
                    style="background: rgba(197, 206, 224, 0.5607843137254902);     color: #595454;">
                    <div class="col-12 zen-row ">
                      <div class="zen-cell thirdLevel" *ngFor="let col of columnDefs; let colIndex3 = index;"
                        [ngStyle]="{'width':col.width+'px'}" style="left: 0;">
                        <i class="more-less glyphicon glyphicon-plus fa" *ngIf="colIndex3 == 0"
                          [ngClass]="{'fa-plus': record.children, 'fa-minus': record.active }"></i>
                        <span>{{record[[col.field]]}}</span>
                      </div>
                    </div>
                  </div>

                </ng-container>
              </div>

            </ng-container>

          </div>
        </div>
      </ng-container>

    </div>
  </div>
</div> -->

<app-custom-table [tableOptions]="tableOptions" 
[tableData]="listData"
[sorting]="true"
[colFilter]="true"
[gblSearch]="true"
[colSearch]="true"
[paginationFlag]="true"> 
</app-custom-table>