<div class="row no-margin justify-content-md-center">
  <div class="col-12 result-container">

    <div class="card">
      <div class="main-card-header">
        <span>Dashboard</span>
        <i class="fa fa-arrow-circle-right" style="padding: 0 10px;"></i>
        <!-- <span>{{breadCrumb}}</span> -->
        <span>Register New State Division</span>

      </div>
      <div class="padd-30">
        <div class="wrapper">
          <div class="sidebar">
            <!-- <app-sidebar-cmp></app-sidebar-cmp> -->
          </div>
          <div class="main-panel">
            <div class="main-content">
              <div class="container-fluid">

                <div class="login-reg-panel back2">
                  <form [formGroup]="subcomplainregisterForm" (ngSubmit)="onSubmit()">
                    <div class="white-panel">
                      <div class="login-pannel">
                        <div class="row no-margin">
                          <div class="col-4">
                            <div class="login-show row">

                              <div class="login-sec col-12"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                <select formControlName="complainname" class="form-control"
                                  [ngClass]="{ 'is-invalid': submitted && f.complainname.errors }"
                                  style="background-color: #eae6e6; font-size: 14px; border: 1px solid #bdb9b9; color: #3a3737;">
                                  <option *ngFor="let complain of complainList" value="{{complain.complainname}}">
                                    {{complain.complainname}}</option>
                                </select>
                              </div>
                              <div class="login-sec col-12"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                <input type="text" formControlName="subcomplainname" class="form-control"
                                  placeholder="Enter Your Sub-Complain Name"
                                  [ngClass]="{ 'is-invalid': submitted && f.subcomplainname.errors }" />
                                <div *ngIf="submitted && f.subcomplainname.errors" class="invalid-feedback">
                                  <div *ngIf="f.subcomplainname.errors.required">Please Enter Sub-complain Name</div>
                                </div>
                              </div>
                              <div class="login-sec col-12"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                <input type="text" formControlName="subcomplainTitle" class="form-control"
                                  placeholder="Enter Your Sub-Complain Name"
                                  [ngClass]="{ 'is-invalid': submitted && f.subcomplainTitle.errors }" />
                                <div *ngIf="submitted && f.subcomplainTitle.errors" class="invalid-feedback">
                                  <div *ngIf="f.subcomplainTitle.errors.required">Please Enter Sub-complain Title</div>
                                </div>
                              </div>


                              <div class="signin-sec col-12 margin-top">
                                <input type="submit" [disabled]="loading" class="form-control connect-btn"
                                  name="Register" value="Register">
                                <input type="button" [disabled]="loading" class="form-control back-btn" name="Cancel"
                                  routerLink="/dashboard" value="Cancel">
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>