<!-- <div class="container result-container"> -->
<div class="row no-margin justify-content-md-center">
    <div class="col-12 result-container">

        <div class="card">
            <div class="main-card-header">
                <span>Directory</span>
                <i class="fa fa-arrow-circle-right" style="padding: 0 10px;"></i>
                <!-- <span>{{breadCrumb}}</span> -->
            </div>
            <div class="padd-30">
                <div class="viewOption">
                    <ul>
                            <li class="active"><i class="fa fa-sitemap "></i>Site View</li>
                            <li><i class="fa fa-list "></i>List View</li>
                            <li><i class="fa fa-users "></i>Org View</li>

                    </ul>
                </div>
                <div class="row justify-content-md-center" style="margin: 0px; margin-bottom: 10px;">
                    <div class="col-2" style="padding: 0 3px">
                        <div class="profile-block superParent">
                           <div class="profile-pic">
                                <img src="../../../../assets/images/zf_logo_small_blue.svg"
                                style="width: 80px; margin: 0 auto;">
                                <div class="contact">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <i class="fa fa-envelope-o " aria-hidden="true"></i>
    
                                </div>
                           </div> 
                           
                            <div class="associate-details">
                                <span class="asssociate-name">Abhay Narnaware</span><br>
                                <span class="asssociate-id">(abnarnaw)</span><br />
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span class="work-location">Pune Maharashtra</span>
                            </div>
                            <div class="associate-details-more">
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>

                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center" style="margin: 0px; margin-bottom: 10px;">
                        <div class="col-2" style="padding: 0 3px">
                            <div class="profile-block parent">
                                    <div class="profile-pic">
                                            <img src="../../../../assets/images/zf_logo_small_blue.svg"
                                            style="width: 80px; margin: 0 auto;">
                                            <div class="contact">
                                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                                    <i class="fa fa-envelope-o " aria-hidden="true"></i>
                
                                            </div>
                                       </div> 
                                <div class="associate-details">
                                    <span class="asssociate-name">Abhay Narnaware</span><br>
                                    <span class="asssociate-id">(abnarnaw)</span><br />
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <span class="work-location">Pune Maharashtra</span>
                                </div>
                                <div class="associate-details-more">
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
    
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="row no-margin justify-content-md-center child">
                    <div class="col-2" style="padding: 0 3px">
                        <div class="profile-block">
                             <div class="profile-pic">
                                <img src="../../../../assets/images/zf_logo_small_blue.svg"
                                style="width: 80px; margin: 0 auto;">
                                <div class="contact">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <i class="fa fa-envelope-o " aria-hidden="true"></i>
    
                                </div>
                           </div> 
                            <div class="associate-details">
                                <span class="asssociate-name">Abhay Narnaware</span><br>
                                <span class="asssociate-id">(abnarnaw)</span><br />
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span class="work-location">Pune Maharashtra</span>
                            </div>
                            <div class="associate-details-more">
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>

                            </div>
                        </div>
                    </div>
                    <div class="col-2" style="padding: 0 3px">
                        <div class="profile-block">
                             <div class="profile-pic">
                                <img src="../../../../assets/images/zf_logo_small_blue.svg"
                                style="width: 80px; margin: 0 auto;">
                                <div class="contact">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <i class="fa fa-envelope-o " aria-hidden="true"></i>
    
                                </div>
                           </div> 
                            <div class="associate-details">
                                <span class="asssociate-name">Abhay Narnaware</span><br>
                                <span class="asssociate-id">(abnarnaw)</span><br />
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span class="work-location">Pune Maharashtra</span>
                            </div>
                            <div class="associate-details-more">
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>

                            </div>
                        </div>
                    </div>
                    <div class="col-2" style="padding: 0 3px">
                        <div class="profile-block">
                             <div class="profile-pic">
                                <img src="../../../../assets/images/zf_logo_small_blue.svg"
                                style="width: 80px; margin: 0 auto;">
                                <div class="contact">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <i class="fa fa-envelope-o " aria-hidden="true"></i>
    
                                </div>
                           </div> 
                            <div class="associate-details">
                                <span class="asssociate-name">Abhay Narnaware</span><br>
                                <span class="asssociate-id">(abnarnaw)</span><br />
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span class="work-location">Pune Maharashtra</span>
                            </div>
                            <div class="associate-details-more">
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>

                            </div>
                        </div>
                    </div>
                    <div class="col-2" style="padding: 0 3px">
                        <div class="profile-block">
                             <div class="profile-pic">
                                <img src="../../../../assets/images/zf_logo_small_blue.svg"
                                style="width: 80px; margin: 0 auto;">
                                <div class="contact">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <i class="fa fa-envelope-o " aria-hidden="true"></i>
    
                                </div>
                           </div> 
                            <div class="associate-details">
                                <span class="asssociate-name">Abhay Narnaware</span><br>
                                <span class="asssociate-id">(abnarnaw)</span><br />
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span class="work-location">Pune Maharashtra</span>
                            </div>
                            <div class="associate-details-more">
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>

                            </div>
                        </div>
                    </div>
                    <div class="col-2" style="padding: 0 3px">
                        <div class="profile-block">
                             <div class="profile-pic">
                                <img src="../../../../assets/images/zf_logo_small_blue.svg"
                                style="width: 80px; margin: 0 auto;">
                                <div class="contact">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <i class="fa fa-envelope-o " aria-hidden="true"></i>
    
                                </div>
                           </div> 
                            <div class="associate-details">
                                <span class="asssociate-name">Abhay Narnaware</span><br>
                                <span class="asssociate-id">(abnarnaw)</span><br />
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span class="work-location">Pune Maharashtra</span>
                            </div>
                            <div class="associate-details-more">
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>

                            </div>
                        </div>
                    </div>
                    <div class="col-2" style="padding: 0 3px">
                        <div class="profile-block">
                             <div class="profile-pic">
                                <img src="../../../../assets/images/zf_logo_small_blue.svg"
                                style="width: 80px; margin: 0 auto;">
                                <div class="contact">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <i class="fa fa-envelope-o " aria-hidden="true"></i>
    
                                </div>
                           </div> 
                            <div class="associate-details">
                                <span class="asssociate-name">Abhay Narnaware</span><br>
                                <span class="asssociate-id">(abnarnaw)</span><br />
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span class="work-location">Pune Maharashtra</span>
                            </div>
                            <div class="associate-details-more">
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>

                            </div>
                        </div>
                    </div>
                    <div class="col-2" style="padding: 0 3px">
                        <div class="profile-block">
                            <img src="../../../../assets/images/zf_logo_small_blue.svg"
                                style="width: 80px; margin: 0 auto;">
                            <div class="associate-details">
                                <span class="asssociate-name">Abhay Narnaware</span><br>
                                <span class="asssociate-id">(abnarnaw)</span><br />
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span class="work-location">Pune Maharashtra</span>
                            </div>
                            <div class="associate-details-more">
                                <i class="fa fa-chevron-down" aria-hidden="true"></i>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="row">
                    <div class="tf-tree tf-custom">
                        <ul>
                            <li>
                                <span class="tf-nc"></span>
                                <ul>
                                    <li>
                                        <span class="tf-nc"></span>
                                        <ul>
                                            <li><span class="tf-nc"></span></li>
                                            <li><span class="tf-nc"></span></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span class="tf-nc"></span>
                                        <ul>
                                            <li><span class="tf-nc"></span></li>
                                            <li><span class="tf-nc"></span></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div> -->
                <!-- <div class="card">
                
                                    <div class="card-body">
                                        <form>
                                            <router-outlet></router-outlet>
                                        </form>
                                    </div>
                                </div> -->

                <!-- <form>
                        <router-outlet></router-outlet>
                    </form> -->
            </div>
        </div>

    </div>
</div>