<div class="row no-margin">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Certificate Name</th>
                        <th scope="col">Date of Completion</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Right-aligned menu
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <button class="dropdown-item" type="button">Action</button>
                                    <button class="dropdown-item" type="button">Another
                                        action</button>
                                    <button class="dropdown-item" type="button">Something
                                        else here</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Right-aligned menu
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <button class="dropdown-item" type="button">Action</button>
                                    <button class="dropdown-item" type="button">Another
                                        action</button>
                                    <button class="dropdown-item" type="button">Something
                                        else here</button>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fa fa-calendar"></i></span>
                                </div>
                                <input type="date" class="form-control" placeholder="Username" aria-label="Username"
                                    aria-describedby="basic-addon1">
                            </div>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>


    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary float-right">Save/Update</button>
    </div>
</div>