<div class="row no-margin">
        <div class="col-6">
            <div class="row">
                <label for="staticEmail" class="col-sm-4 col-form-label">Associate ID</label>
                <label for="staticEmail" class="col-sm-8 col-form-label">000000</label>
            </div>
            <div class="row">
                <label for="staticEmail" class="col-sm-4 col-form-label">Associate Name</label>
                <div class="col-sm-8">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username"
                            aria-label="Username" aria-describedby="basic-addon1" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Cisco ID</label>
                <div class="col-sm-8">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username"
                            aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Gender</label>
                <div class="col-sm-8">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i
                                    class="fa fa-venus-mars"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username"
                            aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Zensar Band</label>
                <div class="col-sm-8">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username"
                            aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Associate
                    Role</label>
                <div class="col-sm-8">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i
                                    class="fa fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username"
                            aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Manager Name</label>
                <div class="col-sm-8">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username"
                            aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Education
                    Qualification</label>
                <div class="col-sm-8">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username"
                            aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Contact
                    Number</label>
                <div class="col-sm-8">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i
                                    class="fa fa-phone"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username"
                            aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Passport
                    Number</label>
                <div class="col-sm-8">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username"
                            aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Passport Issue
                    Date</label>
                <div class="col-sm-8">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@</span>
                        </div>
                        <input type="date" class="form-control" placeholder="Username"
                            aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Travel Willingness
                    (Y/N)</label>
                <div class="col-sm-8">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username"
                            aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Local
                    Address*</label>
                <div class="col-sm-8">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username"
                            aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Asset
                    details*</label>
                <div class="col-sm-8">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username"
                            aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>


        </div>

        <div class="col-6">


            <div class="row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Track</label>
                <label for="staticEmail" class="col-sm-8 col-form-label">ADS AMS</label>
            </div>
            <div class="row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Billable</label>
                <div class="col-sm-8">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username"
                            aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Project Name</label>
                <div class="col-sm-8">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username"
                            aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Emergency Contact
                    Number</label>
                <div class="col-sm-8">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username"
                            aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Onsite
                    Exprience(yrs)</label>
                <div class="col-sm-8">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username"
                            aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Passport Expiry
                    Date</label>
                <div class="col-sm-8">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username"
                            aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Desk Location</label>
                <div class="col-sm-8">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username"
                            aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Permanent
                    Address</label>
                <div class="col-sm-8">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">@</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username"
                            aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>


        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary float-right">Save/Update</button>
        </div>
    </div>