<!-- <div class="container result-container"> -->
    <div class="row no-margin justify-content-md-center">
        <div class="col-12 result-container">
    
            <div class="card">
                <div class="card-header1 main-card-header">
                    <span>Project Management</span>
                    <i class="fa fa-arrow-circle-right" style="padding: 0 10px;"></i>
                    <span>{{breadCrumb}}</span>
                </div>
                <div class="padd-30">
                    <!-- <div class="card">
                
                                    <div class="card-body">
                                        <form>
                                            <router-outlet></router-outlet>
                                        </form>
                                    </div>
                                </div> -->
                    <form>
                        <router-outlet></router-outlet>
                    </form>
                </div>
            </div>
    
        </div>
    </div>