<div class="row no-margin">
    <div class="col-12">
        <div class="table-responsive1">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Project</th>
                        <th scope="col">Tracks</th>
                        <th scope="col">Service Type</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="btn-group1">
                                <button type="button" style="text-align: left"
                                    class="btn btn-outline-info dropdown-toggle btn-block dropdown-button"
                                    data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                   Select project
                                </button>
                                <div class="dropdown-menu dropdown-menu-right1">
                                    <button class="dropdown-item"
                                        type="button">GV_GP_HR_CA_CSR_Q4FY18</button>
                                    <button class="dropdown-item"
                                        type="button">SIG_DEVOPS</button>
                                    <button class="dropdown-item"
                                        type="button">AV_GP_ASF_OFFSHORE_Q3FY18_EE</button>
                                    <button class="dropdown-item"
                                        type="button">GV_GP_HR_CA_CDA_FRANCE_Q4FY18_EE</button>
                                    <button class="dropdown-item"
                                        type="button">AG05_GP_GSE_CONFIG_EXT_SUPPORT_OFFSHORE_Q4FY18_EE</button>
                                    <button class="dropdown-item"
                                        type="button">AG05_GP_GSQS_Q2O_CONFIG_SUPPORT_OFFSHORE_Q1FY18_EE</button>
                                    <button class="dropdown-item"
                                        type="button">AG05_GP_GSQS_Q2O_CONFIG_SUPPORT_OFFSHORE_Q1FY18_EE</button>
                                    <button class="dropdown-item"
                                        type="button">AG12_GP_GSE_NETACAD_SUPPORT_ONSITE_Q4FY18_EE</button>
                                    <button class="dropdown-item"
                                        type="button">AG05_GP_GSE_CONFIG_EXT_SUPPORT_OFFSHORE_Q4FY18_EE</button>
                                    <button class="dropdown-item"
                                        type="button">AG05_GP_GSE_CONFIG_EXT_SUPPORT_OFFSHORE_Q4FY18_EE</button>
                                    <button class="dropdown-item"
                                        type="button">AG05_GP_GSE_CONFIG_EXT_SUPPORT_OFFSHORE_Q4FY18_EE</button>
                                    <button class="dropdown-item"
                                        type="button">AG05_GP_GSE_CONFIG_EXT_SUPPORT_OFFSHORE_Q4FY18_EE</button>
                                    <button class="dropdown-item"
                                        type="button">AG05_GP_GSE_CONFIG_EXT_SUPPORT_OFFSHORE_Q4FY18_EE</button>
                                    <button class="dropdown-item"
                                        type="button">AG05_GP_GSE_CONFIG_EXT_SUPPORT_OFFSHORE_Q4FY18_EE</button>


                                </div>
                            </div>
                        </td>
                        <td>
                            <label for="">APPLICATION MANAGEMENT</label>
                        </td>
                        <td>
                            <label for="">End User computing</label>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>


    </div>

    



    <div class="col-12">
        <div class="card inner-card">
            <div class="card-header">
                <a class="pointerCursor" role="button"
                    (click)="showRecommendedActions('Behavioral');">
                    <!-- <i class="grayColor fa"
                                    [ngClass]="{'fa-plus': actionsArr.result[i], 'fa-minus': actionsArr.result[i].active }"></i>
 -->
                    <i class="grayColor fa"
                        [ngClass]="{'fa-minus': actionsArr=='Behavioral', 'fa-plus': actionsArr!='Behavioral' }"></i>
                    <span class="projectSpec">
                        Behavioral/Soft Skill
                    </span>
                    <div class="input-group projectSpecValue">
                        <input type="text" class="form-control"
                            placeholder="100"
                            aria-label="Recipient's username"
                            aria-describedby="basic-addon2" readonly>
                        <div class="input-group-append">
                            <span class="input-group-text"
                                id="basic-addon2">%</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="card-body" *ngIf="actionsArr=='Behavioral'">
                <h6 style="margin-bottom: 10px;">The total weightages of Behavioral/Soft Skill parameters should be 100
                    100% can be divided on any number of Parameters. Parameters with
                    weightages are only considered for the Configuration
                </h6>
                <div class="row">
                    <div class="col-4">
                        <div class="row">
                            <label for="inputPassword"
                                class="col-5 col-form-label">Analytical</label>
                            <div class="col-7">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control"
                                        placeholder="--"
                                        aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <span class="input-group-text"
                                            id="basic-addon2">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="row">
                            <label for="inputPassword"
                                class="col-5 col-form-label">Communication</label>
                            <div class="col-7">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control"
                                        placeholder="--"
                                        aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <span class="input-group-text"
                                            id="basic-addon2">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="row">
                            <label for="inputPassword"
                                class="col-5 col-form-label">Coordination</label>
                            <div class="col-7">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control"
                                        placeholder="--"
                                        aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <span class="input-group-text"
                                            id="basic-addon2">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <label for="inputPassword"
                                class="col-5 col-form-label">Coordination</label>
                            <div class="col-7">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control"
                                        placeholder="--"
                                        aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <span class="input-group-text"
                                            id="basic-addon2">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <label for="inputPassword" class="col-5 col-form-label">Decision
                                Making</label>
                            <div class="col-7">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control"
                                        placeholder="--"
                                        aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <span class="input-group-text"
                                            id="basic-addon2">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="row">
                            <label for="inputPassword" class="col-5 col-form-label">Decision
                                Making</label>
                            <div class="col-7">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control"
                                        placeholder="--"
                                        aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <span class="input-group-text"
                                            id="basic-addon2">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="row">
                            <label for="inputPassword"
                                class="col-5 col-form-label">Flexibility</label>
                            <div class="col-7">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control"
                                        placeholder="--"
                                        aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <span class="input-group-text"
                                            id="basic-addon2">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <label for="inputPassword"
                                class="col-5 col-form-label">Flexibility</label>
                            <div class="col-7">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control"
                                        placeholder="--"
                                        aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <span class="input-group-text"
                                            id="basic-addon2">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <label for="inputPassword" class="col-5 col-form-label">People
                                Management</label>
                            <div class="col-7">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control"
                                        placeholder="--"
                                        aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <span class="input-group-text"
                                            id="basic-addon2">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <label for="inputPassword" class="col-5 col-form-label">Problem
                                Solving</label>
                            <div class="col-7">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control"
                                        placeholder="--"
                                        aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <span class="input-group-text"
                                            id="basic-addon2">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <label for="inputPassword" class="col-5 col-form-label">Time
                                Management</label>
                            <div class="col-7">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control"
                                        placeholder="--"
                                        aria-label="Recipient's username"
                                        aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <span class="input-group-text"
                                            id="basic-addon2">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card inner-card">
            <div class="card-header">
                <a class="pointerCursor" role="button"
                    (click)="showRecommendedActions('Functional');">
                    <!-- <i class="grayColor fa"
                                        [ngClass]="{'fa-plus': actionsArr.result[i], 'fa-minus': actionsArr.result[i].active }"></i>
     -->
                    <i class="grayColor fa"
                        [ngClass]="{'fa-minus': actionsArr=='Functional', 'fa-plus': actionsArr!='Functional' }"></i>
                    <span class="errorTitle">
                        Functional Knowledge
                    </span>
                </a>
            </div>
            <div class="card-body" *ngIf="actionsArr=='Functional'">
                Result
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card inner-card">
            <div class="card-header">
                <a class="pointerCursor" role="button"
                    (click)="showRecommendedActions('Business');">
                    <!-- <i class="grayColor fa"
                                            [ngClass]="{'fa-plus': actionsArr.result[i], 'fa-minus': actionsArr.result[i].active }"></i>
         -->
                    <i class="grayColor fa"
                        [ngClass]="{'fa-minus': actionsArr=='Business', 'fa-plus': actionsArr!='Business' }"></i>
                    <span class="errorTitle">
                        Business Domain
                    </span>
                </a>
            </div>
            <div class="card-body" *ngIf="actionsArr=='Business'">
                Result
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card inner-card">
            <div class="card-header">
                <a class="pointerCursor" role="button"
                    (click)="showRecommendedActions('Process');">
                    <!-- <i class="grayColor fa"
                                                [ngClass]="{'fa-plus': actionsArr.result[i], 'fa-minus': actionsArr.result[i].active }"></i>
             -->
                    <i class="grayColor fa "
                        [ngClass]="{'fa-minus': actionsArr=='Process', 'fa-plus': actionsArr!='Process' }"></i>
                    <span class="errorTitle">
                        Process Parameters
                    </span>
                </a>
            </div>
            <div class="card-body" *ngIf="actionsArr=='Process'">
                Result
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card inner-card">
            <div class="card-header">
                <a class="pointerCursor" role="button"
                    (click)="showRecommendedActions('Technologies');">
                    <!-- <i class="grayColor fa"
                                                    [ngClass]="{'fa-plus': actionsArr.result[i], 'fa-minus': actionsArr.result[i].active }"></i>
                 -->
                    <i class="grayColor fa"
                        [ngClass]="{'fa-minus': actionsArr=='Technologies', 'fa-plus': actionsArr!='Technologies' }"></i>
                    <span class="errorTitle">
                        Technologies
                    </span>
                </a>
            </div>
            <div class="card-body" *ngIf="actionsArr=='Technologies'">
                Result
            </div>
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary float-right">Save/Update</button>
    </div>
</div>