<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item"> <a class="nav-link active" id="reporting-str-tab" data-toggle="tab" href="#reporting-str"
            role="tab" aria-controls="reporting-str" aria-selected="true">Associates under reporting structure</a> </li>
    <li class="nav-item"> <a class="nav-link" id="nonreporting-str-tab" data-toggle="tab" href="#nonreporting-str"
            role="tab" aria-controls="nonreporting-str" aria-selected="false">Associates under non reporting
            structure</a> </li>
</ul>
<div class="card">
    <div class="tab-content1 card-body" id="reportTab">
        <div class="tab-pane fade show active" id="reporting-str" role="tabpanel" aria-labelledby="reporting-str-tab">
            <table id="reporting-str-data" class="table table-striped table-bordered rounded" cellspacing="0"
                width="100%">
                <thead>
                    <tr>
                        <th>Staff Id</th>
                        <th>Staff Name</th>
                        <th>Role</th>
                        <th>Track Name</th>
                        <th>Release</th>
                        <th>Resignation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> 49234</td>
                        <td> ADIL HUSSAIN</td>
                        <td></td>
                        <td></td>
                        <td> <input type="checkbox" id="rdb1" name="radio-group"> <label for="rdb1"></label> </td>
                        <td> <input type="checkbox" id="rdb2" name="radio-group"> <label for="rdb2"></label> </td>
                    </tr>
                    <tr>
                        <td> 31757</td>
                        <td> AMULYA YADAVILLI</td>
                        <td></td>
                        <td></td>
                        <td> <input type="checkbox" id="rdb1" name="radio-group"> <label for="rdb1"></label> </td>
                        <td> <input type="checkbox" id="rdb2" name="radio-group"> <label for="rdb2"></label> </td>
                    </tr>
                    <tr>
                        <td> 36358</td>
                        <td> CHAITANYA KUMAR</td>
                        <td></td>
                        <td></td>
                        <td> <input type="checkbox" id="rdb1" name="radio-group"> <label for="rdb1"></label> </td>
                        <td> <input type="checkbox" id="rdb2" name="radio-group"> <label for="rdb2"></label> </td>
                    </tr>
                    <tr>
                        <td> 40611</td>
                        <td> CHANDAN UPADHYA</td>
                        <td></td>
                        <td></td>
                        <td> <input type="checkbox" id="rdb1" name="radio-group"> <label for="rdb1"></label> </td>
                        <td> <input type="checkbox" id="rdb2" name="radio-group"> <label for="rdb2"></label> </td>
                    </tr>
                    <tr>
                        <td> 50910</td>
                        <td> GEETHA MADATI</td>
                        <td></td>
                        <td></td>
                        <td> <input type="checkbox" id="rdb1" name="radio-group"> <label for="rdb1"></label> </td>
                        <td> <input type="checkbox" id="rdb2" name="radio-group"> <label for="rdb2"></label> </td>
                    </tr>
                    <tr>
                        <td> 44826</td>
                        <td> MANGESH BALASAHEB SURYAWANSHI</td>
                        <td></td>
                        <td></td>
                        <td> <input type="checkbox" id="rdb1" name="radio-group"> <label for="rdb1"></label> </td>
                        <td> <input type="checkbox" id="rdb2" name="radio-group"> <label for="rdb2"></label> </td>
                    </tr>
                    <tr>
                        <td> 47576</td>
                        <td> NARAYANASWAMY DAMA</td>
                        <td></td>
                        <td></td>
                        <td> <input type="checkbox" id="rdb1" name="radio-group"> <label for="rdb1"></label> </td>
                        <td> <input type="checkbox" id="rdb2" name="radio-group"> <label for="rdb2"></label> </td>
                    </tr>
                    <tr>
                        <td> 47670</td>
                        <td> PRACHI SURESH MORE</td>
                        <td></td>
                        <td></td>
                        <td> <input type="checkbox" id="rdb1" name="radio-group"> <label for="rdb1"></label> </td>
                        <td> <input type="checkbox" id="rdb2" name="radio-group"> <label for="rdb2"></label> </td>
                    </tr>
                    <tr>
                        <td> 47791</td>
                        <td> RAHULM MUNNA SAHU</td>
                        <td></td>
                        <td></td>
                        <td> <input type="checkbox" id="rdb1" name="radio-group"> <label for="rdb1"></label> </td>
                        <td> <input type="checkbox" id="rdb2" name="radio-group"> <label for="rdb2"></label> </td>
                    </tr>
                    <tr>
                        <td> 36291</td>
                        <td> RAMESWARA REDDY M</td>
                        <td></td>
                        <td></td>
                        <td> <input type="checkbox" id="rdb1" name="radio-group"> <label for="rdb1"></label> </td>
                        <td> <input type="checkbox" id="rdb2" name="radio-group"> <label for="rdb2"></label> </td>
                    </tr>
                    <tr>
                        <td> 51769</td>
                        <td> ROHIT CHANDRAKANT KULKARNI</td>
                        <td></td>
                        <td></td>
                        <td> <input type="checkbox" id="rdb1" name="radio-group"> <label for="rdb1"></label> </td>
                        <td> <input type="checkbox" id="rdb2" name="radio-group"> <label for="rdb2"></label> </td>
                    </tr>
                    <tr>
                        <td> 50909</td>
                        <td> SANDHYA RANI SIVADANAM</td>
                        <td></td>
                        <td></td>
                        <td> <input type="checkbox" id="rdb1" name="radio-group"> <label for="rdb1"></label> </td>
                        <td> <input type="checkbox" id="rdb2" name="radio-group"> <label for="rdb2"></label> </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="nonreporting-str" role="tabpanel" aria-labelledby="nonreporting-str-tab">
                <table id="nonreporting-str-data" class="table table-striped table-bordered rounded" cellspacing="0"
                width="100%">
                <thead>
                    <tr>
                        <th>Staff Id</th>
                        <th>Staff Name</th>
                        <th>Role</th>
                        <th>Track Name</th>
                        <th>Release</th>
                        <th>Resignation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> 49234</td>
                        <td> ADIL HUSSAIN</td>
                        <td></td>
                        <td></td>
                        <td> <input type="checkbox" id="rdb1" name="radio-group"> <label for="rdb1"></label> </td>
                        <td> <input type="checkbox" id="rdb2" name="radio-group"> <label for="rdb2"></label> </td>
                    </tr>
                    <tr>
                        <td> 31757</td>
                        <td> AMULYA YADAVILLI</td>
                        <td></td>
                        <td></td>
                        <td> <input type="checkbox" id="rdb1" name="radio-group"> <label for="rdb1"></label> </td>
                        <td> <input type="checkbox" id="rdb2" name="radio-group"> <label for="rdb2"></label> </td>
                    </tr>
                    <tr>
                        <td> 36358</td>
                        <td> CHAITANYA KUMAR</td>
                        <td></td>
                        <td></td>
                        <td> <input type="checkbox" id="rdb1" name="radio-group"> <label for="rdb1"></label> </td>
                        <td> <input type="checkbox" id="rdb2" name="radio-group"> <label for="rdb2"></label> </td>
                    </tr>
                    <tr>
                        <td> 40611</td>
                        <td> CHANDAN UPADHYA</td>
                        <td></td>
                        <td></td>
                        <td> <input type="checkbox" id="rdb1" name="radio-group"> <label for="rdb1"></label> </td>
                        <td> <input type="checkbox" id="rdb2" name="radio-group"> <label for="rdb2"></label> </td>
                    </tr>
                    <tr>
                        <td> 50910</td>
                        <td> GEETHA MADATI</td>
                        <td></td>
                        <td></td>
                        <td> <input type="checkbox" id="rdb1" name="radio-group"> <label for="rdb1"></label> </td>
                        <td> <input type="checkbox" id="rdb2" name="radio-group"> <label for="rdb2"></label> </td>
                    </tr>
                    <tr>
                        <td> 44826</td>
                        <td> MANGESH BALASAHEB SURYAWANSHI</td>
                        <td></td>
                        <td></td>
                        <td> <input type="checkbox" id="rdb1" name="radio-group"> <label for="rdb1"></label> </td>
                        <td> <input type="checkbox" id="rdb2" name="radio-group"> <label for="rdb2"></label> </td>
                    </tr>
                    <tr>
                        <td> 47576</td>
                        <td> NARAYANASWAMY DAMA</td>
                        <td></td>
                        <td></td>
                        <td> <input type="checkbox" id="rdb1" name="radio-group"> <label for="rdb1"></label> </td>
                        <td> <input type="checkbox" id="rdb2" name="radio-group"> <label for="rdb2"></label> </td>
                    </tr>
                    <tr>
                        <td> 47670</td>
                        <td> PRACHI SURESH MORE</td>
                        <td></td>
                        <td></td>
                        <td> <input type="checkbox" id="rdb1" name="radio-group"> <label for="rdb1"></label> </td>
                        <td> <input type="checkbox" id="rdb2" name="radio-group"> <label for="rdb2"></label> </td>
                    </tr>
                    <tr>
                        <td> 47791</td>
                        <td> RAHULM MUNNA SAHU</td>
                        <td></td>
                        <td></td>
                        <td> <input type="checkbox" id="rdb1" name="radio-group"> <label for="rdb1"></label> </td>
                        <td> <input type="checkbox" id="rdb2" name="radio-group"> <label for="rdb2"></label> </td>
                    </tr>
                    <tr>
                        <td> 36291</td>
                        <td> RAMESWARA REDDY M</td>
                        <td></td>
                        <td></td>
                        <td> <input type="checkbox" id="rdb1" name="radio-group"> <label for="rdb1"></label> </td>
                        <td> <input type="checkbox" id="rdb2" name="radio-group"> <label for="rdb2"></label> </td>
                    </tr>
                    <tr>
                        <td> 51769</td>
                        <td> ROHIT CHANDRAKANT KULKARNI</td>
                        <td></td>
                        <td></td>
                        <td> <input type="checkbox" id="rdb1" name="radio-group"> <label for="rdb1"></label> </td>
                        <td> <input type="checkbox" id="rdb2" name="radio-group"> <label for="rdb2"></label> </td>
                    </tr>
                    <tr>
                        <td> 50909</td>
                        <td> SANDHYA RANI SIVADANAM</td>
                        <td></td>
                        <td></td>
                        <td> <input type="checkbox" id="rdb1" name="radio-group"> <label for="rdb1"></label> </td>
                        <td> <input type="checkbox" id="rdb2" name="radio-group"> <label for="rdb2"></label> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>