<!-- <div class="container result-container"> -->
  <div class="row no-margin justify-content-md-center">
    <div class="col-12 result-container">

        <div class="card">
            <div class="main-card-header">
                <span>Dashboard</span>
                <i class="fa fa-arrow-circle-right" style="padding: 0 10px;"></i>
                <!-- <span>{{breadCrumb}}</span> -->
            </div>
            <div class="padd-30">
                            
                <form>
                  <div class="wrapper">
                    <div class="row no-margin">
                      <div class="col-3 reg-dash">
                        <div class="reg-pannel" [routerLink]="['/stateregister']">
                          <img src="../../../../assets/icon/favicon.png">
                          <span>State</span>
                        </div>
                      </div>
                      <div class="col-3 reg-dash">
                        <div class="reg-pannel" [routerLink]="['/divisionregister']">
                          <img src="../../../../assets/icon/favicon.png">
                          <span>Division</span>
                        </div>
                      </div>
                      <div class="col-3 reg-dash">
                        <div class="reg-pannel" [routerLink]="['/districtregister']">
                          <img src="../../../../assets/icon/favicon.png">
                          <span>District</span>
                        </div>
                      </div>
                      <div class="col-3 reg-dash">
                        <div class="reg-pannel" [routerLink]="['/tehsilregister']">
                          <img src="../../../../assets/icon/favicon.png">
                          <span>Tehsils</span>
                        </div>
                      </div>
                      <div class="col-3 reg-dash">
                        <div class="reg-pannel" [routerLink]="['/mahanagarpalikaregister']">
                          <img src="../../../../assets/icon/favicon.png">
                          <span>Maha-Nagarpalika</span>
                        </div>
                      </div>
                      <div class="col-3 reg-dash">
                        <div class="reg-pannel" [routerLink]="['/nagarpalikaregister']">
                          <img src="../../../../assets/icon/favicon.png">
                          <span>Nagarpalika</span>
                        </div>
                      </div>
                      <div class="col-3 reg-dash">
                        <div class="reg-pannel" [routerLink]="['/nagarpanchayatregister']">
                          <img src="../../../../assets/icon/favicon.png">
                          <span>NagarPanchayat</span>
                        </div>
                      </div>
                      <div class="col-3 reg-dash">
                        <div class="reg-pannel" [routerLink]="['/grampanchayatregister']">
                          <img src="../../../../assets/icon/favicon.png">
                          <span>Gram Panchayat</span>
                        </div>
                      </div>
                      <div class="col-3 reg-dash">
                        <div class="reg-pannel" [routerLink]="['/wardregister']">
                          <img src="../../../../assets/icon/favicon.png">
                          <span>Ward</span>
                        </div>
                      </div>
                      <div class="col-3 reg-dash">
                        <div class="reg-pannel" [routerLink]="['/complainregister']">
                          <img src="../../../../assets/icon/favicon.png">
                          <span>Add Complain Type</span>
                        </div>
                      </div>
                      <div class="col-3 reg-dash">
                        <div class="reg-pannel" [routerLink]="['/subcomplainregister']">
                          <img src="../../../../assets/icon/favicon.png">
                          <span>Add SubComplain Type</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
            </div>
        </div>

    </div>
</div>