.reg-pannel{
    min-height: 140px;
    text-align: center;
    background: #f1ecec;
    border-radius: 10px;
    img{
        padding: 10%;
    border-radius: 50%;
    width: 138px;
    display: block;
    margin: 0 auto;
    }
}
.reg-dash {
    padding: 10px;
}