/* You can add global styles to this file, and also import other style files */

/*  ****************** Open Sans ***************** */
/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(~/src/assets/fonts/OpenSans/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(~/src/assets/fonts/OpenSans/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(~/src/assets/fonts/OpenSans/mem8YaGs126MiZpBA-UFWZ0bbck.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(~/src/assets/fonts/OpenSans/mem8YaGs126MiZpBA-UFVp0bbck.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(~/src/assets/fonts/OpenSans/mem8YaGs126MiZpBA-UFWp0bbck.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(~/src/assets/fonts/OpenSans/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(~/src/assets/fonts/OpenSans/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  

/*  ***********************End open Sans***************** */


html,body{
    height: 100%;
    color: #8e8e8e !important;
    font: 1rem 'Open Sans', Arial, sans-serif;
}
body{
    /* background-color: #ecf4f7 !important;
    background-position: bottom, left top;
    background-repeat: no-repeat, repeat;
    /* background-image: url('../../ccw360/src/assets/images/golf.jpg'); 
    background-size: cover; */

    background-color: #eee !important;
}

:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
/* ****************** Css for Scroll Bar**************************** */
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 8px;    height: 8px;
	background-color: #0589ba;
}
::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(63, 62, 62, 0.3);
	background-color: #0589ba;
}
/* ***********************End Css for scroll Bar */
.btn-primary {
    color: #fff;
    background-color: #0792c6 !important;
    border-color: #0792c6 !important;
}
.row-centered {
    text-align: center;
}
.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
}

.redBorder{
    border: 2px solid red;
}

.no-margin{
    margin:0px !important;
}
.margin-bottom-10{
    margin-bottom: 10px !important;
}
.margin-top-10{
    margin-top: 10px !important;
}
.margin-top-30{
    margin-top: 30px !important;
}
.no-padding{
    padding:0px !important;
}
.padd-30{
    padding: 30px;
}
.padd-even-10{
    padding: 10px 0;
}
.padd-even-30{
    padding: 30px 0;
}
.card-header{
    background: #049ad2 !important;
    color: #fff;
}
.pointerCursor{
    cursor: pointer;
}
.inner-card {
    margin-bottom: 5px;
}
.inner-card .card-header{
    background-color: rgba(0,0,0,.03) !important;
    border-bottom: 1px solid rgba(0,0,0,.125) !important;
}
th{
        font-weight: 500;
        color: #049ad2;
    }
    a{
        color: #383d41 !important ;
    }
    .btn{
        color: #fff;
        background-color: #999;
        border-color: #999;
        box-shadow: 0 2px 2px 0 rgba(153,153,153,.14), 0 3px 1px -2px rgba(153,153,153,.2), 0 1px 5px 0 rgba(153,153,153,.12);
    }
    .btn-round {
        border-radius: 50% !important;
    }
    .btn-just-icon {
        font-size: 24px;
        height: 41px;
        min-width: 41px;
        width: 41px;
        padding: 0;
        overflow: hidden;
        position: relative;
        line-height: 41px;
    }
    .btn.btn-white{
        background-color: #fff;
    color: #999;
    }
    .visible-on-sidebar-mini,.visible-on-sidebar-mobile {
        display: none !important;
    }
    @media (min-width: 991px){
        .sidebar-mini .sidebar{
            width: 80px !important;
        }
        .sidebar-mini .main-panel {
            width: calc(100% - 80px)!important;
        }
         .sidebar-mini .sidebar .sidebar-wrapper>*>.nav li>a p {
            -webkit-transform: translate3d(-25px,0,0);
            transform: translate3d(-25px,0,0);
            opacity: 0;
        }
        .sidebar-mini .visible-on-sidebar-mini {
            display: inline-block!important;
        }
        .sidebar-mini .visible-on-sidebar-regular {
            display: none!important;
        }

        .sidebar-mini header{
            width: calc(100% - 80px)!important;
        }
        .sidebar-mini .sidebar:hover {
            width: 260px !important;
        }
        .sidebar-mini .sidebar:hover .sidebar-wrapper>*>.nav li>a p {
            -webkit-transform: translate3d(0px,0,0);
            transform: translate3d(0px,0,0);
            opacity: 1;
        }
        .sidebar-mini .logo a.logo-normal {
            opacity: 0;
            display: none !important;
            -webkit-transform: translate3d(-25px,0,0);
            transform: translate3d(-25px,0,0);
        }
        .sidebar-mini .sidebar:hover .logo a.logo-normal{
            display: inline-block !important;
        }

        .sidebar-mini .logo-img{
            display: none !important;
        }
        .sidebar-mini .logo-img-small{
            display: block;
        }
        .sidebar-mini .logo .simple-text {
            /* text-transform: uppercase; */
            padding: 0 10px !important;
        }
        .sidebar-mini .sidebar:hover .logo-img-small{
            display: none !important;
        }
        .sidebar-mini .sidebar:hover .logo-img{
            display: block !important;
        }
    }
    .logo-img-small{
        display: none;
    }
    .main-panel, .sidebar, .sidebar-wrapper {
        transition-property: top,bottom,width;
        transition-duration: .2s,.2s,.35s;
        transition-timing-function: linear,linear,ease;
        -webkit-overflow-scrolling: touch;
    }
    .main-panel {
        position: relative;
        float: right;
        width: calc(100% - 260px);
        transition: .33s,cubic-bezier(.685,.0473,.346,1);
    }

    .grayColor{
        color: #8e8e8e;
    }
    .table-bordered td, .table-bordered th {
     
        font-size: 0.9rem;
    }

    .table thead th {
        vertical-align: initial !important;
    }

    
/**************************custom radio button css****************************/

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: absolute;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #337ab7;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* ***************** Css End for Radio Button */

/********************Checkboxes styles**********************/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
    /* display: block; */
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    font: 14px/20px 'Open Sans', Arial, sans-serif;
    color: #ddd;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #049ad2;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*  ************************** End css for checkbox ************************ */
.dropdown-menu.show, .open>.dropdown-menu {
    display: block;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.dropdown-menu {
    display: none;
    padding: .3125rem 0;
    border: 0;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    will-change: transform,opacity;
    // transition: opacity .2s cubic-bezier(.4,0,.2,1),-webkit-transform .3s cubic-bezier(.4,0,.2,1);
    // transition: transform .3s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1);
    // transition: transform .3s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1),-webkit-transform .3s cubic-bezier(.4,0,.2,1);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}


.ag-theme-balham .sick-days-breach {
    background-color: lightcoral !important;
}

.align-center{
    text-align: center;
}
.ph-item{
    border: 0 !important;
    margin: 12px !important;
    padding: 0 !important
}

.main-card-header{
    background-image: linear-gradient(90deg, #049ad2, #78007a); 
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    color: #fff;
    border-radius: .25rem .25rem 0 0;
}
.zen-border {
    /* border: 10px solid; */
    border-image: linear-gradient(90deg, #049ad2, #78007a); 
    border-image-slice: 60 30;
  }

input[type="text"]:-webkit-autofill,
input[type="text"]:-webkit-autofill:hover, 
input[type="text"]:-webkit-autofill:focus, 
input[type="text"]:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}
input[type="password"]:-webkit-autofill,
input[type="password"]:-webkit-autofill:hover, 
input[type="password"]:-webkit-autofill:focus, 
input[type="password"]:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #fff inset !important;
}
/* Css for media query *************************/
/* Resolution  */
@media only screen and (max-width: 600px){
    .no-padding-xs{
        padding: 0 !important;
    }

    .container-fluid{
        padding: 0px !important;
        overflow: hidden;
    }
    .sidebar-mini .visible-on-sidebar-mini {
       // display: inline-block!important;
       display: none!important;

    }
    .sidebar-mini .visible-on-sidebar-regular {
        display: none!important;
    }
    .sidebar-mini .visible-on-sidebar-mobile {
        display: inline-block!important;
    }
    .main-card-header{
        padding: 9px 12px;
        font-size: .8rem;
    }
    .result-container {
        padding-left: 5px;
        padding-right: 5px;
    }
    .padd-30 {
        padding: 5px;
    }
}
/* Css end for the media query *********************/