.card .card-icon{
    
    border-radius: 3px;
    background-color: #999;
    padding: 5px;
    margin-top: -20px;
    margin-right: 15px;
    float: left;
}
.card-header i {
    font-size: 36px;
    line-height: 56px;
    width: 56px;
    height: 56px;
    text-align: center;
}

.ass-no{
    font-size: 2.5rem;
    margin-top: 5px;
}
.card .card-header {
    border-bottom: none;
    background-color: transparent !important;
    color: #999 !important;
    padding: 10px;
    text-align: center;
}
.card-header+.card-footer {
    border-top: 1px solid #eee;
}
.card .card-footer {
    text-align: center;
    align-items: center;
    background-color: transparent;
    padding: 0.5rem .8rem;
    margin: 0px 8px;
}
.card .card-header .card-icon i{
    color: #fff !important
}
.color-theme-1{
    color: #049ad2 !important;
    background-color: #049ad2 !important;
}
.color-theme-2{
    color: #32afde !important;
    background-color: #32afde !important;
}

.color-theme-3{
    color: #61cbf2 !important;
    background-color: #61cbf2 !important;
}
.color-theme-4{
    color: #90dffd !important;
    background-color: #90dffd !important;
}

.font-color-theme-1{
    color: #049ad2 !important;
}
.font-color-theme-2{
    color: #32afde !important;
}

.font-color-theme-3{
    color: #61cbf2 !important;
}
.font-color-theme-4{
    color: #90dffd !important;
}
.font-color-theme-5{
    color: #ffa726 !important;
}
.font-color-theme-6{
    color: #d81b60 !important;
}
.fusion-title {
    font-size: 1rem;
    background: #4b96c1;
    width: 55%;
    padding: 5px 17px;
    border-bottom: 2px solid #127caf;
    color: #fff;
}
.fustion-cart-container{
    overflow: hidden;
    margin: 18px 0;
}
.onShore-location span {
    font-size: .9rem;
    line-height: normal;
    display: inline-block;
}
.onShore-count {
    border: 2px solid #0692c5;
    border-radius: 50%;
    display: inline-block;
    padding: 10px;
    box-shadow: 0px 0px 14px #CCC;
    min-width: 65px;
    min-height: 65px;
}

.onShore-count span{
    font-size: 1.5rem;
}


   /* Css for media query *************************/
/* Resolution  */

@media only screen and (max-width: 600px){
    .fusion-title{
        width: 100%;
        font-size: .8rem;
    padding: 5px 10px;
    }
  

}

/* Css end for the media query *********************/